{% extends 'Backend/backend_layout.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h2>Liste des utilisateurs</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('backend_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class= 'btn btn-success' href="{{ path('backend_user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
